@import "navigateMixins";
@import "../vars";

.fa-layers-counter {
    background-color: $orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.navigate {
    @include flexColumn;
    justify-content: space-between;
    border-right: 2px solid $border;
    padding: 30px 25px;
    &-bg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
    }
    &-top,
    &-bottom {
        @include flexColumn;
        gap: 20px;
    }
}
