@mixin flex($justify-content, $align-items, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}
@mixin grid($justify-content, $align-items) {
    display: grid;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin circle($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
}
