$orange: #ff6633;
$white: #fff;
$border: #edeff2;
$border-right-color: #dadee6;
$avaName: #6b7a99;
$email: #adb8cc;
$boxShadow: rgba(38, 51, 77);
$border-color : #f5f6f7;
$input-color: #7d8fb3;
$svg-color: #c3cad9;
