@import "./mixins";
@import "./vars";

.categories {
    margin: 30px 20px 90px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 250px;
        height: 100%;
        border-right: 2px solid #F5F6F7;
    }
    &-btn {
        @include flex(center, center);
        position: relative;
        margin-bottom: 45px;
        button {
            width: 210px;
            white-space: nowrap;
            border-radius: 30px;
            border: 2px solid $orange;
            background: $orange;
            box-shadow: 0px 10px 30px 0px rgba($boxShadow, 0.2);
            padding: 15px 45px 15px 60px;
            font: 900 12px Roboto;
            color: $white;
            transition: all 0.3s;
            &:hover {
                background-color: $avaName;
                border-color: $avaName;
            }
        }
        img {
            position: absolute;
            left: 20px;
        }
    }
    &-list,
    &-addItem {
        position: relative;
        @include flex(flex-start, center);
        font: 700 13px/25px Roboto;
        color: $avaName;
        padding-bottom: 35px;
        &-item {
            @include flex(space-between, center);
            border: 2px solid transparent;
            padding: 10px 20px;
            &__active {
                @include flex(space-between, center);
                padding: 10px 20px;
                border-radius: 30px;
                border: 2px solid $border-color;
                box-shadow: 0px 10px 30px 0px rgba($boxShadow, 0.03);
            }
            &__span {
                @include flex(space-between, center);
                width: 100%;
            }
        }
        &__keys {
            @include flex(space-around, normal, column);
            cursor: pointer;
            width: 100%;
        }
        
    }
    &-addItem {
        padding: 0 20px;
        list-style: none;
        cursor: pointer;
    }
    &-label {
        font: 700 13px/25px Roboto;
        color: $avaName;
        margin: 70px 20px 0px;
        &-items {
            @include flex(center, normal, column);
            padding-top: 30px;
            gap: 20px;
            &__pos {
                @include flex(flex-start, center);
                gap: 20px;
                cursor: pointer;
            }
        }
    }
}
