@import "./mixins";
@import "./vars";

.gallery {
    flex: 1 auto;
    &-header {
        svg {
            color: $svg-color;
            padding: 10px;
        }
        @include flex(space-between, center);
        margin: 25px 20px;
        &:after {
            content: "";
            position: absolute;
            top: 100px;
            left: 250px;
            width: 100%;
            border-bottom: 2px solid $border-color;
        }
        &__rending {
            box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
            border: 2px solid $border-color;
            border-radius: 100px;
            svg + svg {
                border-left: 2px solid $border-color;
            }
        }
        &__icons {
            @include flex(space-between, center);
            gap: 10px;
            > svg {
                border: 2px solid $border-color;
                border-radius: 100px;
            }
        }
        &__form {
            @include flex(space-between, center);
            min-width: 270px;
            border: 2px solid $border-color;
            border-radius: 100px;
            padding: 0 20px;
            input {
                border: none;
                padding: 15px;
                font: 900 10px Roboto;
                color: $input-color;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: $input-color;
                }
            }
        }
    }
    &-none {
        display: none;
    }
    &-block {
        display: block;
        h3 {
            font: 700 12px Roboto;
        }
        p {
            font: 700 10px Roboto;
        }
    }
    &-inner {
        margin: 65px 0;

    }
    &-flex {
        @include flex(space-evenly, normal);
        flex-wrap: wrap;
        gap: 13px;
    }
    &-flexItem {
        @include flex(center, center, column);
        &__img {
            border-radius: 10px;
            border: 2px solid $border-color;
            padding: 5px;
            box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
        }
    }
    &-grid {
        @include grid(space-evenly, center);
        text-align: center;
        gap: 30px;
        grid-template-areas:
            "A A A B B B"
            "C C D D E E";
    }
    &-gridItem {
        img {
            width: 100%;
            min-height: 200px;
            max-height: 360px;
            border-radius: 10px;
            box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
        }
        &:nth-child(1) {
            justify-self: stretch;
            grid-area: A;
        }
        &:nth-child(2) {
            justify-self: stretch;
            grid-area: B;
        }
        &:nth-child(3) {
            justify-self: stretch;
            grid-area: C;
        }
        &:nth-child(4) {
            justify-self: stretch;
            grid-area: D;
        }
        &:nth-child(5) {
            justify-self: stretch;
            grid-area: E;
        }
    }
}
