@import "./mixins";
@import "./vars";

* {
    text-decoration: none;
}

.header {
    padding: 25px;
    background-color: $border;
    color: $avaName;
    border-bottom: 2px solid $border;
    font: 700 13px Roboto;
    @include flex(space-between, center);
    &-menu,
    &-form,
    &-acc,
    &-alerts,
    &-logo {
        @include flex(space-between, center);
        gap: 10px;
    }
    &-menu {
        gap: 25px;
        color: $border;
    }
    &-logo,
    &-alerts {
        &__bg {
            @include circle(50px, 50px);
            @include flex(center, center);
            background-color: $white;
            box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
        }
        font: 700 18px Roboto;
    }
    &-form {
        width: 430px;
        border-radius: 30px;
        background-color: $white;
        padding: 15px 20px;
        box-shadow: 0px 2px 5px 0px rgba($boxShadow, 0.03);
        input {
            width: 90%;
            border: none;
            &::placeholder {
                color: $email;
                font: 700 12px Roboto;
            }
            &:focus {
                outline: none;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        button {
            border: none;
            background-color: $white;
        }
    }
}
