* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    padding: 25px;
    background-color: #f7f8fa;
    border-bottom: 2px solid #edeff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu,
    &-form,
    &-acc,
    &-alerts,
    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &-menu {
        gap: 25px;
        color: #7d8fb3;
        font: 700 13px Roboto;
    }
    &-acc {
        color: #6B7A99;
        font: 700 13px Roboto;
    }
    &-logo,
    &-alerts {
        &__bg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
        }
        font: 700 18px Roboto;
        color: #4d5e80;
    }
    &-form {
        width: 430px;
        border-radius: 30px;
        background-color: #fff;
        padding: 15px 20px;
        box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
        input {
            width: 90%;
            border: none;
            &::placeholder {
                color: #adb8cc;
                font: 700 12px Roboto;
            }
            &:focus {
                outline: none;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        button {
            border: none;
            background-color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
