@import "./vars";
@import "./mixins";

.sidebar {
    padding: 30px 50px;
    &-socials {
        @include flex(space-between, center);
        &__bg {
            @include circle(40px, 40px);
            @include flex(center, center);
            background-color: $white;
        }
    }
    &-accaunt {
        @include flex(space-between, center, column);
        &-avatar {
            @include flex(center, center);
            @include circle(130px, 130px);
            border: 2px solid $orange;
            transform: rotate(-45deg);
            border-right-color: $border-right-color;
            img {
                transform: rotate(45deg);
                @include circle(110px, 110px);
            }
        }
        &-h2 {
            font: 700 16px Roboto;
            color: $avaName;
            padding: 30px 0 10px;
            & + a {
                font-size: 14px;
                color: $email !important;
            }
        }
        &-count {
            background-color: $orange;
            @include circle(30px, 30px);
            @include flex(center, center);
            position: relative;
            right: -114px;
            top: -83px;
            font: 900 12px Roboto;
            color: $white;
            box-shadow: 0px 2px 15px 0px rgba(255, 102, 51, 0.25);
        }
    }
    &-tabs {
        margin-top: 40px;
        @include flex(center, center);
        flex-wrap: wrap;
        max-width: 244px;
        border: 2px solid #edeff2;
        border-radius: 20px;
        figure {
            @include flex(center, center, column);
            color: #adb8cc;
            width: 120px;
            gap: 20px;
            font: 700 12px Roboto;
            padding: 25px 40px;
            &:nth-child(even) {
                border-left: 2px solid $border;
            }
            &:nth-child(1n + 3) {
                border-top: 2px solid $border;
            }
            &:hover {
                background-color: $white;
                border-radius: 20px;
                border: none;
                transform: scale(1.2);
                transition: all 0.3s;
                color: $orange;
            }
        }
    }
    &-contants {
        @include flex(space-between, center);
        gap: 10px;
        padding: 15px 25px;
        border-radius: 30px;
        border: 2px solid $border;
        margin-top: 145px;
    }
}
